@font-face {
    font-family: "PkmnBW";
    src: url('./pokemon-b-w.otf') format('opentype');
}

:root {
    --primary-color: #d01313;
    --secondary-color: #730909;
    --background-color: #00000090;
    --white-reduced-op: #FFFFFF15;
    --text-color: white;
    --border-color: #FFFFFF15;

    --margin: 2rem 3rem 2rem 3rem;
    --padding-single: 1rem;
    --border-radius-container: 10px;
    --border-radius: 5px;


    --font-main: "PkmnBW", sans-serif;
    --font-size-text: 1.2rem;
    --font-size-title: 1.5rem;
}

* {
    box-sizing: border-box;
}

html {

    font-family: var(--font-main);
    background-image: url('/background.png');
    color: var(--text-color);

    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    margin: var(--margin);
}

.logo-control-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-hr {
    width: 3px;
    background-color: var(--white-reduced-op);
    margin: 0 2rem;
}

.content-container {
    display: flex;

}

.settings-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: var(--padding-single);

    display: none;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted var(--text-color);
    border-radius: var(--border-radius-container);

    z-index: 2;
}

.settings-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
}

.settings-head button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 1rem;
}

.settings-body {
    display: flex;
    flex-direction: column;
}

.settings-body-inputs {
    display: flex;
    flex-direction: column;
    gap: .1rem;

}

.logo-wrapper {
    display: flex;
    align-items: start;
    object-fit: contain;
}

.logo {
    width: 70%;
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls fieldset {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0;
    border-top: 1px dotted var(--text-color);
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted var(--text-color);
    padding: .5rem 0 1rem 0;

}

.controls fieldset legend {
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    padding-right: 1rem;
}

.controls button {
    padding: 1rem 3rem 1rem 3rem;
}

input {
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    background: none;
    border: 2px solid var(--white-reduced-op);
    color: var(--text-color);

    min-width: 250px;

    padding: .75rem 1rem;
    margin-bottom: .5rem;

    border-radius: 5px;
}

button {
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    background-color: var(--white-reduced-op);
    border: none;
    color: var(--text-color);

    padding: .75rem 2rem;

    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s ease;
}


button.hover-primary:hover {
    background-color: var(--primary-color);
}

button.hover-white:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

hr {
    width: 100%;
}

h1 {
    font-size: var(--font-size-title);
    margin: 0;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.svg-icon {
    width: .5rem;
    height: auto;
    fill: var(--text-color);
}

/*Sync-related things*/

.sync-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 1rem;
}

.sync {
    display: flex;
    flex-direction: column;
    align-items: center;

    outline: 1px solid red;
}

.sync-heading {
    text-justify: center;
    text-transform: none;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .5rem;
}

.player-sprite-container {
    
    display: flex;
    overflow: hidden;

    outline: lime 1px solid;
}

.player-sprite {
    height: 2rem;
    width: auto;

    margin: .25rem;

    object-fit: contain;
}

.sync-list {

}

.sync-item {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: url('/li-background.png');
    aspect-ratio: 6/1;
    background-size: cover;
}

.pokemon-sprite {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.joker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}