@font-face {
    font-family: "PkmnBW";
    src: url('./pokemon-b-w.otf') format('opentype');
}

:root {
    --primary-color: #d01313;
    --secondary-color: #730909;
    --background-color: #00000090;
    --white-reduced-op: #FFFFFF15;
    --text-color: white;
    --border-color: #FFFFFF15;

    --margin-top: 2rem;
    --margin-side: 3rem;
    --margin-bottom: 2rem;

    --padding-single: 1rem;
    --border-radius-container: 10px;
    --border-radius: 5px;


    --font-main: "PkmnBW", sans-serif;
    --font-size-text: 1.2rem;
    --font-size-title: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
}

html {
    font-family: var(--font-main);
    background-image: url('/background.png');
    color: var(--text-color);

    width: 100vw;
}

header {
    display: flex;
    padding-top: var(--margin-top);
    height: 10dvh;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 80dvh;

    justify-content: space-between;

    gap: 2.5rem;
}

.control-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 25%;
}

.sync-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 1rem;

    height: 100%;
    width: 50%;
}

.joker-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 100%;
    width: 25%;
}



.popup-window {
    background-image: url('../background.png');
    background-position: bottom;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: var(--padding-single);

    display: none;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted var(--text-color);
    border-radius: var(--border-radius-container);

    z-index: 2;
}

.popup-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
}

.popup-head button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 1rem;
}

.popup-body {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-bottom);
}

.popup-body-inputs {
    display: flex;
    flex-direction: column;
    gap: .1rem;

}

.logo-wrapper {
    display: flex;
    align-items: center;
    object-fit: contain;
}

.logo {
    height: 4rem;
}

.version {
    padding: 1.25rem 0 0 .5rem;
}

.controls {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0;
    border-top: 1px dotted var(--text-color);
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted var(--text-color);
    padding: .5rem 0 1rem 0;

}

fieldset legend {
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    padding-right: 1rem;
}

.controls button {
    padding: 1rem 2rem 1rem 2rem;
}

input {
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    background: none;
    border: 2px solid var(--white-reduced-op);
    color: var(--text-color);

    min-width: 250px;

    padding: .75rem 1rem;
    margin-bottom: .5rem;

    border-radius: 5px;
}

button {
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    background-color: var(--white-reduced-op);
    border: none;
    color: var(--text-color);

    padding: .75rem 2rem;

    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s ease;
}

button.ghost {
    background-color: transparent;
    color: var(--text-color);
    box-shadow: inset 0px 0px 0px 2px var(--white-reduced-op);

    transition: box-shadow .2s ease;
}

button.ghost:hover {
    box-shadow: inset 0px 0px 0px 2px var(--text-color);
}

button.hover-primary:hover {
    background-color: var(--primary-color);
}

button.hover-white:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

hr {
    width: 100%;
}

h1 {
    font-size: var(--font-size-title);
    margin: 0;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.svg-icon {
    width: .5rem;
    height: auto;
    fill: var(--text-color);
}

/*Sync-related things*/

.index-container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.index-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;

    margin-bottom: 1rem;
}

.sync-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;

    gap: 2rem;
}

.sync {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    height: 100%;
}

.list-heading {
    text-transform: none;
}

.list {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    

    padding: 0;
    margin: 0;
}

.item {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    
    /* aspect-ratio: 346/126; */
    flex: 1;

    font-size: var(--font-size-text);

    margin-bottom: 0.5rem;
    padding: 1rem 3rem;

    background-image: url('../item-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.index-item {
    background: none;
    gap: 0;
    padding: 0;
    margin: 0;
}

.sync-item:hover {
    background-image: url('../item-background-hover.png');

}
.player {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 2rem;
    width: 100%;

    gap: .5rem;
}

.player-sprite-container {

    display: flex;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;

}

.player-sprite {
    height: 2rem;
    width: auto;


    object-fit: contain;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.index-heading {
    height: 2rem;
    width: 100%;

    opacity: .2;
}

.index-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;

    height: 100%;

    padding: 0;
    margin: 0;

    list-style: none;

    font-size: var(--font-size-title);

}

.index-item {
    display: flex;
    align-items: center;
    height: 15%;
    opacity: .2;
}



.empty {
    opacity: 0.5;
}

.pokemon-sprite {
    width: 50px;
    height: auto;
    object-fit: contain;
    image-rendering: crisp-edges
}



.joker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: .5rem 1rem;
    border-radius: var(--border-radius);

    width: 100%;

    font-size: var(--font-size-title);

    cursor: pointer;
}

.joker:hover {
    background-color: #FFFFFF10;
}

.joker-img {
    width: 3.5rem;
    height: auto;
    image-rendering: crisp-edges;
    border: 2px solid #284f5d;
}

.joker-description {
    margin: 0;
}