@layer reset, components, layout, pokebox, battle-button;

@font-face {
    font-family: "pokesync";
    src: url("./assets/font/custom/pokesync.ttf") format("truetype");
}
@font-face {
    font-family: "Jaro";
    src: url("./assets/font/Jaro/Jaro-Regular-VariableFont_opsz.ttf") format("truetype");
}


:root {
    color-scheme: dark;
    /* TODO: Hauptfarbe besser machen */
    --main-color: oklch(12.292% 0.01077 271.399);
    --bg-color: oklch(from var(--main-color) 12% 0.011 h);
    --accent-color: #95e1f6;

    --gray: #808080;

    /* --accent-color: red; */
    accent-color: var(--accent-color);
    font-family: 'pokesync';
}

@layer pokebox {
    :root {
        --pokebox-hue-player1: 241.1594deg;
        --pokebox-hue-player2: 90.31deg;
        --pokebox-hue-dead: 22.54deg;

        --pokebox-border-lightness: 0.797;
        --pokebox-border-chroma: 0.113;

        --pokebox-light-lightness: 0.701;
        --pokebox-light-chroma: 0.165;
        --pokebox-light-hue-shift: 2.5deg;

        --pokebox-dark-lightness: 0.353;
        --pokebox-dark-chroma: 0.109;
        --pokebox-dark-hue-shift: 12deg;


        --pokebox-border-player1: oklch(var(--pokebox-border-lightness) var(--pokebox-border-chroma) var(--pokebox-hue-player1));
        --pokebox-light-player1: oklch(var(--pokebox-light-lightness) var(--pokebox-light-chroma) calc(var(--pokebox-hue-player1) + var(--pokebox-light-hue-shift)));
        --pokebox-dark-player1: oklch(var(--pokebox-dark-lightness) var(--pokebox-dark-chroma) calc(var(--pokebox-hue-player1) + var(--pokebox-dark-hue-shift)));
        --pokebox-inner-player1: oklch(from var(--pokebox-border-player1) l c h / 25%);
        --pokebox-outer-player1: oklch(from var(--pokebox-border-player1) l c h / 90%);

        --pokebox-border-player2: oklch(var(--pokebox-border-lightness) var(--pokebox-border-chroma) var(--pokebox-hue-player2));
        --pokebox-light-player2: oklch(var(--pokebox-light-lightness) var(--pokebox-light-chroma) calc(var(--pokebox-hue-player2) + var(--pokebox-light-hue-shift)));
        --pokebox-dark-player2: oklch(var(--pokebox-dark-lightness) var(--pokebox-dark-chroma) calc(var(--pokebox-hue-player2) + var(--pokebox-dark-hue-shift)));
        --pokebox-inner-player2: oklch(from var(--pokebox-border-player2) l c h / 25%);
        --pokebox-outer-player2: oklch(from var(--pokebox-border-player2) l c h / 90%);

        --pokebox-border-dead: oklch(var(--pokebox-border-lightness) var(--pokebox-border-chroma) var(--pokebox-hue-dead));
        --pokebox-light-dead: oklch(var(--pokebox-light-lightness) var(--pokebox-light-chroma) calc(var(--pokebox-hue-dead) + var(--pokebox-light-hue-shift)));
        --pokebox-dark-dead: oklch(var(--pokebox-dark-lightness) var(--pokebox-dark-chroma) calc(var(--pokebox-hue-dead) + var(--pokebox-dark-hue-shift)));
        --pokebox-inner-dead: transparent;
        --pokebox-outer-dead: transparent;

        --pokebox-border-inactive: oklch(var(--pokebox-border-lightness) 0 0);
        --pokebox-light-inactive: oklch(var(--pokebox-light-lightness) 0 0);
        --pokebox-dark-inactive: oklch(var(--pokebox-dark-lightness) 0 0);
        --pokebox-inner-inactive: transparent;
        --pokebox-outer-inactive: transparent;
    }

    @property --pokebox-border {
        syntax: "<color>";
        inherits: true;
        initial-value: hotpink;
    }

    @property --pokebox-light {
        syntax: "<color>";
        inherits: true;
        initial-value: hotpink;
    }

    @property --pokebox-dark {
        syntax: "<color>";
        inherits: true;
        initial-value: hotpink;
    }

    @property --pokebox-inner {
        syntax: "<color>";
        inherits: true;
        initial-value: hotpink;
    }

    @property --pokebox-outer {
        syntax: "<color>";
        inherits: true;
        initial-value: hotpink;
    }

    .player1 {
        --pokebox-border: var(--pokebox-border-player1);
        --pokebox-light: var(--pokebox-light-player1);
        --pokebox-dark: var(--pokebox-dark-player1);
        --pokebox-inner: var(--pokebox-inner-player1);
        --pokebox-outer: var(--pokebox-outer-player1);
    }

    .player2 {
        --pokebox-border: var(--pokebox-border-player2);
        --pokebox-light: var(--pokebox-light-player2);
        --pokebox-dark: var(--pokebox-dark-player2);
        --pokebox-inner: var(--pokebox-inner-player2);
        --pokebox-outer: var(--pokebox-outer-player2);
    }

    .dead {
        --pokebox-border: var(--pokebox-border-dead);
        --pokebox-light: var(--pokebox-light-dead);
        --pokebox-dark: var(--pokebox-dark-dead);
        --pokebox-inner: var(--pokebox-inner-dead);
        --pokebox-outer: var(--pokebox-outer-dead);
    }

    .inactive,
    :root {
        --pokebox-border: var(--pokebox-border-inactive);
        --pokebox-light: var(--pokebox-light-inactive);
        --pokebox-dark: var(--pokebox-dark-inactive);
        --pokebox-inner: var(--pokebox-inner-inactive);
        --pokebox-outer: var(--pokebox-outer-inactive);
    }
}

@layer battle-button {
    :root {
        --bb-orange-light: #ffce63;
        --bb-orange-dark: #ffb529;
        --bb-blue-light: #a5deff;
        --bb-blue-dark: #29bdf7;
        --bb-green-light: #73ff52;
        --bb-green-dark: #52ce29;

        --bb-orange: linear-gradient(to bottom, var(--bb-orange-light) 48%, var(--bb-orange-dark) 56%);
        --bb-blue: linear-gradient(to bottom, var(--bb-blue-light) 48%, var(--bb-blue-dark) 56%);
        --bb-green: linear-gradient(to bottom, var(--bb-green-light) 48%, var(--bb-green-dark) 56%);
    }
}

html,body{
    height:-webkit-fill-available;
    height:stretch;
}

body {
    background-color: var(--bg-color);
    background-image: url("./assets/background-grid.svg"), linear-gradient(transparent 50%, oklch(from var(--accent-color) 60% 0.05 h));
    background-repeat: repeat;
    background-blend-mode: soft-light;
    padding: 1rem;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@layer layout {
    ::selection {
        background-color: var(--accent-color);
        color: black;
    }

    [contenteditable] {
        position: relative;

        &::before {
            position: relative;
            display: inline-block;
            content: url("assets/img/icons/other/edit-text.svg");
            bottom: -0.2em;
            padding: 0 0.5ch 0 0.5ch;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0.05rem;
            background-color: rgb(from currentColor r g b / 0.5);
        }
    }
}

@layer components {}

@layer reset {

    /* see https://www.joshwcomeau.com/css/custom-css-reset/ */
    /* 1. Use a more-intuitive box-sizing model */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font: inherit;
    }

    /* 2. Remove default margin */
    *:not(dialog) {
        margin: 0;
        padding: 0;
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }

    body {
        /* 4. Increase line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 6. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* 8. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /*
    10. Create a root stacking context
    */
    #root,
    #__next {
        isolation: isolate;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }
}