@layer reset {
    /* see https://www.joshwcomeau.com/css/custom-css-reset/ */
    /* 1. Use a more-intuitive box-sizing model */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* 2. Remove default margin */
    *:not(dialog) {
        margin: 0;
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }

    body {
        /* 4. Increase line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 6. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* 8. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    /*
    10. Create a root stacking context
    */
    #root,
    #__next {
        isolation: isolate;
    }
}

@layer layout {
    .grid {
        display: grid;
    }

    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(99%, var(--min, 30ch)), 1fr));
    }
}

@layer components {
    .box{
        /* Need to be Given */
        --_box-color: var(--color, blue);
        --border-width: 2px;
        --box-cut: min(45%, 1rem);

        /* Calculated */
        --box-bg-accent: oklch(from var(--_box-color) 33% 0.18794 h / 0.2);
        --box-bg-color: oklch(from var(--_box-color) 45% 0.3133 h / 0.2);
        --border-color: oklch(from var(--_box-color) 65% 0.3133 h / 1);
        --box-cut-height: calc(var(--box-cut) / sqrt(2));
        --clip-path: polygon(var(--box-cut) 0,
                calc(100% - var(--box-cut)) 0,
                100% var(--box-cut),
                100% calc(100% - var(--box-cut)),
                calc(100% - var(--box-cut)) 100%,
                var(--box-cut) 100%,
                0 calc(100% - var(--box-cut)),
                0 var(--box-cut));

        /* Styling */
        background:
            linear-gradient(45deg,var(--border-color) var(--box-cut-height), transparent var(--box-cut-height)),
            linear-gradient(-45deg,var(--border-color) var(--box-cut-height), transparent var(--box-cut-height)),
            linear-gradient(135deg,var(--border-color) var(--box-cut-height), transparent var(--box-cut-height)),
            linear-gradient(-135deg,var(--border-color) var(--box-cut-height), transparent var(--box-cut-height)),
            linear-gradient(-40deg, var(--box-bg-color) 35%, var(--box-bg-accent) 35%, var(--box-bg-accent) 60%, var(--box-bg-color) 60%)
            ;
        background-clip: border-box;
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--border-color);
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .25rem 2rem;
        clip-path: var(--clip-path);
        width: 60ch;
        height: 5rem;
    }
}

:root{
    color-scheme: dark;
    /* TODO: Hauptfarbe besser machen */
    --main-color: oklch(12.292% 0.01077 271.399);
    --box-bg-color: oklch(from var(--main-color) 12% 0.011 h);
    /* TODO: accent color */
    --accent-color: red;
    accent-color: var(--accent-color);
}

body{
    background-color: var(--box-bg-color);
    background-image: url("./svg/background-grid.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}