
<settings-text title="Run Name" placeholder="Enter a name" value="">
</settings-text>

<settings-binary title="Allow Jokers" value="">
    <option value="">No</option>
    <option value="yes">Yes</option>
</settings-binary>

<settings-ternary title="Text Speed" value="normal">
    <option value="slow">Slow</option>
    <option value="normal">Normal</option>
    <option value="fast">Fast</option>
</settings-ternary>

<settings-select title="Game Version" value="v2">
    <option value="v1">Version 1</option>
    <option value="v2">Version 2</option>
    <option value="v3">Version 3</option>
</settings-select>

<settings-file title="Load Save">
</settings-file>

<settings-link title="Open Save" href="/saves/foo" target="_blank">
    Google
</settings-link>

<settings-button title="Open Run" id="open-run">
    HUBERT_MEGA
</settings-button>
